/* ================= BASE ================= */
body{
    margin:0;
    font-family:'Rajdhani',sans-serif;
}

/* 🌍 LANGUAGE */
.lang-switch{
    position:fixed;
    top:10px;
    right:10px;
    z-index:9999;
    display:flex;
    gap:5px;
}

.lang-switch button{
    background:#111;
    color:#00f0ff;
    border:1px solid #00f0ff;
    padding:5px 8px;
    cursor:pointer;
}

/* 😀 EMOJI */
#emoji-btn{
    background:none;
    border:none;
    font-size:20px;
    cursor:pointer;
    color:#00f0ff;
    margin-right:5px;
}

.emoji-picker{
    position:absolute;
    bottom:90px;
    left:20px;
    background:#111;
    padding:10px;
    border-radius:10px;
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:5px;
    z-index:9999;
}

.emoji-picker span{
    cursor:pointer;
}

/* 💬 MESSAGE */
.msg-container{
    margin:8px;
    padding:6px;
}

.msg-info{
    font-size:12px;
    display:flex;
    gap:8px;
    align-items:center;
}

.msg-bubble{
    background:#222;
    color:white;
    padding:8px;
    border-radius:8px;
    margin-top:3px;
}

.own-msg .msg-bubble{
    background:#ff007f33;
}

/* 🗑️ DELETE */
.delete-btn{
    background:none;
    border:none;
    color:red;
    cursor:pointer;
    font-size:12px;
}
